* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  line-height: 1.2;
}

.todo-list {
  max-width: 475px;
  text-align: center;
  margin: 0 auto 3rem auto;
  padding-bottom: 1rem;
  border: 2px solid #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30),/* top */
              0 10px 0 -5px #eee,
              0 10px 1px -4px rgba(0, 0, 0, 0.30),
              0 20px 0 -10px #eee,
              0 20px 1px -9px rgba(0, 0, 0, 0.30);
}

.item {
  margin: 2rem auto 2rem auto;
  padding: 1.7rem;
  width: 80%;
  background-color: white;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  text-transform: lowercase;
}

.item label {
  padding-left: 1rem;
}

.title {
  font-size: 3rem;
  background-color: #eee;
  color: #777;
  padding: 2rem;
  text-transform: uppercase;
  font-family: 'Dokdo', cursive;
}


@media (min-width: 768px) {

  .todo-list {
    margin: 5rem auto 3rem auto;
  }

  body {
    font-size: 1.7rem;
  }

  .title {
    font-size: 4.5rem;
  }

  input[type='checkbox'] {
    width: 30px;
    height: 30px;
  }
}
